{% extends 'base.html' %}
{% block content %}
<div class="container mt-5" style="max-width: 700px;">
    <div class="card-shadow">
        <div class="card-body">
            <h2>Apply for {{ job.title }}</h2>
            <hr>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-success">
                    Submit Application
                </button>
                <a href="{% url 'job_detail' job.id %}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}